<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RegressionTest</td><td>AdditionTestCases.TestAdditionWithOnePositiveOneNegative()[pri:2, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@f381794]<br/>TestDivisionFunctionality.TestDivisionWithPositiveValues()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@34f7cfd9]<br/>AdditionTestCases.TestAdditionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@f381794]<br/></td></tr>
</table>
