<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegressionTesting</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c60d0">  <td>21/04/20 10:21:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.InitGroup()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@f381794]">&gt;&gt;InitGroup</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@687059528</td>   <td></td> </tr>
<tr bgcolor="7c60d0">  <td>21/04/20 10:21:24</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@f381794]">TestAdditionWithPositiveNumbers</td> 
  <td>main@687059528</td>   <td></td> </tr>
<tr bgcolor="7c60d0">  <td>21/04/20 10:21:24</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithOnePositiveOneNegative()[pri:2, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@f381794]">TestAdditionWithOnePositiveOneNegative</td> 
  <td>main@687059528</td>   <td></td> </tr>
<tr bgcolor="828672">  <td>21/04/20 10:21:24</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDivisionFunctionality.InitGroup()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@34f7cfd9]">&gt;&gt;InitGroup</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@687059528</td>   <td></td> </tr>
<tr bgcolor="828672">  <td>21/04/20 10:21:24</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDivisionFunctionality.TestDivisionWithPositiveValues()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@34f7cfd9]">TestDivisionWithPositiveValues</td> 
  <td>main@687059528</td>   <td></td> </tr>
</table>
