<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RegressionTest</td><td>AdditionTestCases.TestAdditionWithOnePositiveOneNegative()[pri:2, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]<br/>TestMultiplication.TestMultiplicationWithPositiveValues(int, int, int)[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]<br/>TestDivisionFunctionality.TestDivisionWithPositiveValues()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]<br/>AdditionTestCases.TestAdditionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]<br/>TestingSubtractionTestCases.TestSubtractionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestingSubtractionTestCases@2abf4075]<br/></td></tr>
</table>
